DB_URL=jdbc:mysql://localhost:3306/learnmangement?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8
DB_PASSWORD=root
MAIL_APP_PASSWORD=dfhvfmxhubmkbhji
JWT_SECRET=NeuNhuLopTreQuenDiLichSuCuaChinhDanTocMinhThiHoSePhaiDungMauCuaMinhDeVietLaiLichSuAy
GOOGLE_CLIENT_ID=892637418432-f0lvjpcolvtslc74mvekrdk18m700nib.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
APP_FRONTEND_DOMAIN=http://localhost:5173
APP_BACKEND_DOMAIN=http://localhost:8080